.LogoPaperNote {
  text-align: center;
  margin-bottom: 6rem;
}
.LogoPaperNote h2 {
  font-size: 0.7rem;
  font-weight: 700;
  font-weight: normal;
  color: var(--medium-gray);
  margin-bottom: 0.5rem;
}

.icon_logo {
  color: var(--medium-gray);
}
